/***** GENERAL *****/

/*

// Colors
Blue: #31334F
Red: #C1666B
Beige: #EDDDB1
White: #FBFBFF
Black: #2E2E2E

*/

body {
    margin: 0px;
}

* {
    font-family: 'Raleway', sans-serif;
    box-sizing: border-box;
}

.container {
    padding-top: 30px;
}

.pageContainer {
    width: 95%;
    display: flex;
    margin: 0 auto;
    padding-bottom: 30px;
    max-width: 1000px;
    padding-top: 30px;
    flex-direction: column;
}


/***** NAVBAR ******/

.navbar {
    height: 60px;
    width: 100%;
    background-color: white;
    position: fixed;
    padding: 0 10px 0 10px;
    top: 0px;
    z-index: 100;
}

.logo {
    position: relative;
    height: 60px;
    display: inline-block;
}

.menu {
    position: absolute;
    display: inline-block;
    top: 50%;
    transform: translatey(-50%);
    right: 20px;
}

.menuList {
    display: inline-block;
    position: relative;
    float: right;
}

.menuList>li {
    position: relative;
    list-style-type: none;
    display: inline-block;
    margin-left: 20px;
    font-size: 1.2em;
    color: black;
    cursor: pointer;
}

.menuList>li>a:hover {
    color: #737373;
}

.menuList>li>a {
    text-decoration: none;
    color: black;
    transition: all .3s;
}


/***** HOME *****/

.homePicture {
    background-image: url("../images/home-picture.jpg");
}

.parallax {
    height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.tagline {
    background-color: white;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate3d(-50%, -100%, 0);
    padding: 10px 15px;
    font-weight: bold;
}


/***** CONTACT *****/

.contactPic {
    background-image: url("../images/contact-pic.jpg")
}

.formContainer {
    position: relative;
    width: 70%;
}

.fieldContainer {
    display: flex;
    flex-direction: row;
}

.inputField {
    height: 40px;
    display: flex;
    flex-grow: 1;
    border-radius: 7px;
    border: 1px solid #eeeeee;
    font-size: 1em;
    transition: all .2s;
    padding-left: 10px;
    margin: 0 10px 10px 0;
    flex-basis: 50%;
    background-color: white;
}

.inputField::-webkit-input-placeholder {
    color: rgba(0, 0, 0, 0.4);
}

.inputField:last-child {
    margin: 0 0 10px 0;
}

.inputField:focus {
    border-color: black;
    outline: none;
    border-color: #888888;
}

.textareaStyle {
    height: 100px;
    width: 100%;
    padding-top: 10px;
}


/***** SHOP *****/

.shopPic {
  background-image: url(../images/shop-pic.jpg);
}

.productContainer {
  display:flex;
  margin-top: 30px;
}

.productPictureContainer {
  flex-grow: 2;
  position: relative;
}

.sechsegg {
  width:60%;
  fill: #EDDDB1;
  opacity: 0.5;
  position: absolute;
  display: inline;
  z-index: -1;
  left:-10px;
  top: 30px;
}

.productPicture {
  height:400px;
}

.productInfo {
flex-grow: 1;
flex-basis: 25%;
}

.colorPicker {
  display: flex;
  flex-flow: column;
}

.colorChoice {
  width:60px;
  height:20px;
  background-color: red;
  border-radius: 3px;
}
