/***** GENERAL *****/

/*

// Colors
Blue: #31334F
Red: #C1666B
Beige: #EDDDB1
White: #FBFBFF
Deep Blue: #1A1D2A

*/

body {
  margin: 0px;
  display: flex;
  flex-direction: column;
}

* {
  font-family: 'Raleway', sans-serif;
  box-sizing: border-box;
  color: #1A1D2A;
}

b {
  color:#EDDDB1;
}

.divider {
  width:20px;
}

.container {
  padding-top: 30px;
}

.pageContainer {
  width: 95%;
  display: flex;
  margin: 0 auto;
  padding-bottom: 30px;
  max-width: 1000px;
  padding-top: 30px;
  flex-direction: column;
  margin-bottom: 50px;
}

.pictureContainer {
  position: relative;
}

hr {
  border-bottom: #2E2E2E solid black;
  width: 100%;
}

h1 {
  margin: 0px;
  font-size: 3.5em;
}

/***** NAVBAR ******/

.navbar {
  height: 60px;
  width: 100%;
  background-color: white;
  position: fixed;
  padding: 0 10px 0 10px;
  top: 0px;
  z-index: 100;
  display: flex;
  flex-direction: row;
}

.logo {
  position: relative;
  height: 100px;
  display: inline-block;
  align-self: center;
}

.menu {
  position: absolute;
  right: 0;
  align-self: center;
}

.menuList {
  align-self: baseline;
  display: flex;
  padding: 0px;
}

.menuList>li {
  position: relative;
  list-style-type: none;
  display: inline-block;
  font-size: 1.2em;
  color: black;
  cursor: pointer;
  padding: 0 10px 0 10px;
}

.menuList>li>a:hover {
  color: #737373;
}

.menuList>li>a {
  text-decoration: none;
  color: black;
  transition: all .3s;
}

/***** HOME *****/

.homePicture {
  background-image: url("../images/home-picture1.jpg");
}

.homePicture2 {
  background-image: url("../images/home-pic2.jpg");
}

.paragraph {
  margin-bottom: 20px;
}

.parallax {
  height: 500px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.tagline {
  background-color: white;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate3d(-50%, -100%, 0);
  padding: 10px 15px;
  font-weight: bold;
  text-align: center;
}

/***** CONTACT *****/

.contactPic {
  background-image: url("../images/contact-pic1.jpg")
}

.formContainer {
  position: relative;
  width: 70%;
}

.fieldContainer {
  display: flex;
  flex-direction: row;
}

.inputField {
  height: 40px;
  display: flex;
  flex-grow: 1;
  border-radius: 7px;
  border: 1px solid #eeeeee;
  font-size: 1em;
  transition: all .2s;
  padding-left: 10px;
  margin: 0 10px 10px 0;
  flex-basis: 50%;
  background-color: white;
}

.inputField::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.4);
}

.inputField:last-child {
  margin: 0 0 10px 0;
}

.inputField:focus {
  border-color: black;
  outline: none;
  border-color: #888888;
}

.textareaStyle {
  height: 100px;
  width: 100%;
  padding-top: 10px;
}

#map {
  height: 400px;
  width: 400px;
}

/***** SHOP *****/

.shopPic {
  background-image: url('../images/shop-pic1.jpg');
}

.productContainer {
  display: flex;
  margin-top: 30px;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
  background-color: rgba(232, 222, 197, 0.2);
  padding: 50px;
  padding-right: 104px;
  overflow:hidden;
}

.productPictureContainer {
  flex-grow: 1;
  position: relative;
  display: flex;
}

.productPictureContainer:nth-child(2n) {
  justify-content: flex-end;
}

.productPictureContainer:nth-child(2n)>.sechsegg {
  left: 490px;
}

.productPictureContainer:nth-child(2n)>.productPicture {
  transform: scale(-1, 1);
}

.productTitle {
  margin: 0px;
  font-size:5em;
}

.sechsegg {
  width: 90%;
    fill: #EDDDB1;
    opacity: 0.5;
    position: absolute;
    display: inline;
    z-index: -1;
    left: -400px;
    top: -77px;
}

.productPicture {
  height: 300px;
  left: 30px;
  position: relative;
  top: 20px;
}

.productInfo {
  flex-grow: 1;
  flex-basis: 25%;
}

.colorPicker {
  display: flex;
  flex-flow: row;
  height: 30px;
}

.colorChoice {
  width: 50px;
  height: 20px;
  border-radius: 3px;
  margin: 5px;
  transition: .5s all;
  order: 2;
  cursor: pointer;
}

.red {
  background-color: #C1666B;
}

.blue {
  background-color: #31334F;
}

.beige {
  background-color: #EDDDB1;
}

.active {
  width: 70px;
  height: 30px;
  order: 2;
}

/***** FOOTER *****/

footer {
  height: 400px;
  width: 100%;
  background-color: #2E2E2E;
  display: flex;
  justify-content: space-between;
  color: white;
  position: relative;
  background-image: url('../Images/footerBackground4.png');
  background-position-y: 650px;
}

#map {
  height: 50%;
  width: 50%;
  position: relative;
  align-self: center;
}

#topBtn {
  border-radius: 100%;
  background-color: white;
  border: 2px solid #2E2E2E;
  height: 50px;
  width: 50px;
  justify-content: center;
  position: absolute;
  top: -25px;
  display: flex;
  cursor: pointer;
  color: #2E2E2E;
  left: 50%;
  transform: translateX(-50%);
}

#topBtn>h5 {
  position: relative;
  align-self: center;
}

.footerInfo {
  display: flex;
  margin-right: 30px;
}

.details {
  display: flex;
}

.contactDetails {
  align-self: center;
  margin-left: 20px;
}

.links {
  align-self: center;
}

.adress {
  align-self: center;
}

.details p {
  margin: 1px;
  color:#EDDDB1;
}

.links>ul {
  list-style: none;
}

.links>ul>li {
  display: inline-block;
  margin: 5px;
  transition: .3s all;
  cursor: pointer;
  color:#EDDDB1;
}

.links>ul>li:hover {
  color: #737373;
}

/***** MEDIA QUERIES *****/

/* Für die Desktops musste keine besondere Media Query mehr angelegt werden, da alles durch flexbox responsive ist.
Und der Container hat die Eigenschaft "max-width:1000px" das heisst, der Hauptteil der Seite wird nicht grösser als 1000px,
sieht also auch auf grossen Bildschirmen gut aus. */

/* Media query for Tablets */
@media only screen and (max-width: 770px) {
  /***** GENERAL *****/
  .pageContainer {
    padding: 10px;
  }
  .parallax {
    height: 300px;
  }
  /***** SHOP *****/
  .productContainer {
    flex-direction: column;
  }
  .productPicture {
    height: 400px;
    margin-bottom: 30px;
  }
  .sechsegg {
    width: 77%;
    left: -26px;
  }
  .productInfo {
    order: 1;
  }
  .productPictureContainer {
    order: 2;
  }
  .productPictureContainer:nth-child(2n) {
    justify-content: flex-start;
  }
  .productPictureContainer:nth-child(2n)>.sechsegg {
    left: -26px;
  }
  .productPictureContainer:nth-child(2n)>.productPicture {
    transform: scale(1, 1);
  }
  /***** FOOTER *****/
  #topBtn {
    display: none;
  }
  footer {
    flex-direction: column;
    height: 300px;
  }
  #map {
    width: 100%;
    margin-bottom: 30px;
  }
  .footerInfo {
    flex-direction: row;
    justify-content: center;
  }
}

/* Media query for mobile phones */
@media only screen and (max-width: 380px) {
  /***** NAVBAR *****/
  .navbar>h1 {
    font-size: 1em;
    bottom: 21px;
  }
  .menu {
    font-size: 0.7em;
  }
  /****** GENERAL *****/
  .pictureContainer>h2 {
    font-size: 1em;
  }
  .parallax {
    height: 200px;
  }
  .paragraph {
    margin-bottom: 0px;
  }
  .pageContainer > h1 {
    font-size: 1.5em;
    margin-top: 5px;
  }
  /****** SHOP *****/
  .productPicture {
    height: 200px;
    left: 0px;
  }
  .productContainer {
    padding: 5px;
  }

  /***** FOOTER *****/
  footer {
    height: 500px;
  }
  .footerInfo {
    flex-direction: column;
    justify-content: center;
  }
  .details {
    text-align: center;
    flex-direction: column;
  }
  .contactDetails {
    margin-left: 0px;
    margin-top: 10px;
  }
  .links > ul {
    display: flex;
    justify-content: space-between;
    padding:0px;
  }
  .links > ul > li {
    align-self: center;
  }

  /***** KONTAKT *****/
  .fieldContainer {
    flex-direction: column;
  }
  .inputField:last-child {
    margin:0 10px 10px 0;
  }
  .formContainer {
    width: 100%;
  }
}
